.wrappProd{
    width:380px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
.aboutProd{
    height:170px;
    border-top: 2px solid gray;
    display: flex;
    justify-content: space-between;   
    &:hover{
        box-shadow: 0px 0px 0px 2px  gray 
    }
}
.aboutProd>div{
    overflow: hidden;
}
.aboutProd>:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.aboutProd>:nth-child(2){
    width: 200px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.aboutProd>:nth-child(2)>input{
    
   width: 70px;
   height: 50px;
   background: #EBEBEB;
   border: none;
   border-radius: 6px;
}
.TaboutProd{

    width: 270px!important;
    height: 100px;
   
}
.total::before{
    content:"$";
}
.price::before{ 
    content:"$";
    
}
.aboutProd>:first-child>img{
    box-sizing:border-box;
    width: 170px !important;
    height: 100%;
}


.EstiShipp{
    height: 25px;
    box-sizing:border-box;
    overflow: hidden;
    display: grid;
}
.EstiShipp>:nth-child(2){
    width: 200px;
    color:#666666;
    font-weight: 400;
    font-size: 14px;
}
.EstiShipp>:nth-child(1)::after{
    content:"▲";    
}
.discountCode{
    height: 25px;
    box-sizing:border-box;
    overflow: hidden;
}
.discountCode>span{
    font-size: 18px;
    font-weight: 400;
    &::after{
        content:"▲";
        left: auto;
    }
}
.discountCode>input{
    width: 100%;
    border: none;
    border-bottom:2px solid var(--Color---6, #CCC);
    background: transparent;
}
.costs>span{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.costs>label{
    color:var(--Color---5, #8C8C8C);
    font-size: 10px;
    font-weight: 400;
}
.costs>span>:nth-child(2)::before{
    content: "$";
    margin-right: 10px;
}
.buttons>a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 10px;
}
.buttons>:nth-child(3){
    height: 35px;
    border-radius:50px;
    background: transparent;
    color:#232C65;
    border:1px solid var(--Color---11, #666);
}
.WrappoptionBusket{
    border-top:2px solid var(--Color---6, #CCC);
}
.optionBusket{
    width: 200px;
    height: 30px;
    color:white;
    background: #000;
    border:1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-right:10px ;
    &:hover{
        background: white;
        border:1px solid #666666;
        color:#666666;
    }
}

