#wrappBlueBG{
    padding-left:0px !important;
    padding-right:0px !important;

}
#wrappBlueBG a{
        color:var(--Color---11, #666);
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
}

hr {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-top:0px ;
}
#wrappBlueBG a{
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border:none;
    &:focus{
        border-left: 2px solid blue;
        font-weight: 700;
        color: black;
    }
}
#wrappBlueBG div b{
    font-size:16px ;  
}

#wrappBlueBG >:nth-child(6){
    border-top: 5px solid white;
    border-bottom: 5px solid white;

}
div>p{
    color:grey;
    margin: 5px;
    height: 80px;
}
#details span{
    font-size: 18px ;
    font-weight: 700;
    padding: 0px;

}