@import "color.scss";

footer{
    background: #000;
    height: 500px;
    overflow: hidden;
}


.sNews{
    font-size: 38px;
    font-weight: 500;
    font-family: $font;
    color:white;
    
}
.slogan{
    font-family: $font;
    font-size: 16px;
    color:#fff;
   
    font-weight: 300;
}
.subscribe>input{
    border-radius:4px;
    padding-left: 10px;
    width: 390px;
    height: 50px;
    background: transparent;
    border: 1px solid white;

}
.btnSubscribe{
    width: 150px;
    height: 50px;
    color:white;
    font-family: $font;
    background: $blue;
    border-radius:25px;
    border-color: $blue;
    &:hover{
        box-shadow: 0px 1px 10px grey;

    }
}
.footer_list{
   
    height: auto;
}

.footer_list>div>span{
    color:gray;
    font-size: 14px;
    font-family: $font;
}
.footer_list>div>ul{
    margin-top: 15px;
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding-inline-start: 0px;
    margin-bottom: 0px;

}
.footer_list>div>ul>li>a{
    color:white;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
}
.payMethod{
    border-top: 1px solid #FFFFFF;
    padding-top: 5px;
    box-sizing: border-box;
    
}
.copyright{
    color:white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.social_media:nth-child(1){
    width: 20px;
    height: 20px;
    background-image:url(/img/facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.social_media>:nth-child(2){
    width: 20px;
    height: 20px;
    background-image:url(/img/facebook.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}