@import "color.scss";

.wrapper_Bord{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.item1{
    width: 99%;
    height: 320px;
    border:none;
}
.slick-next{
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%  0%  0%  50% !important;
    background: rgb(44, 44, 44) !important;
    z-index: 100;
    top: 40% !important;
    right: 0px !important;
}
.slick-prev{
    width: 30px !important;
    height: 30px !important;
    background: rgb(44, 44, 44) !important;
    border-radius:0%  50% 50% 0% !important;
    z-index: 100;
    top: 40% !important;
    left: 0px !important;
}
.wrapper_product{
    border:none;
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    overflow: hidden;
}
.product{
   
    height: 345px;
    border: none;
    padding: 5px;
}

.product>span{
    color:#78A962;
    margin-left: 20px;
    &::before{
        content: url(/img/arrows/Stock.svg);
        margin-right: 5px;
    }
}
.rew{
    color:grey;
}
.zip{
    height: 80px;
    background-color: #F5F7FF;
    font-size: 18px;
    color:#272560;
}

.price{
    font-size: 18px;
}
.price>p{
    text-decoration: line-through;
    margin: 0px;
    font-size: 14px;
}
.content{
    height: 45px;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    overflow: hidden;
}
.custom_Bil{
    height: 350px;
    color:white;
    background-image:url(/img/category/CustomeBuilds.png);
    background-position:center;
    background-size:cover;
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: center;
    background-repeat:no-repeat;
}
.custom_Bil>b{
    font-size: 22px;
}
.custom_Bil>a{
    color:white;
}

.wrapper_product_categry{
  margin-bottom: 50px;
}

.review{
    height:310px ;
    background-color:var(--Color---1, #F5F7FF);
 }
 .review>:nth-child(1)>span{
    font-weight: 400;
    font-size: 96px;
    display: flex;
 }
 .review>:nth-child(1)>p{
    height: auto;
    font-family:$font;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
 }
 .review>:nth-child(3)>button{
    height: 30px;
    width: 180px;
    border:2px solid ;
    color:$blue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
