form{
    height: 420px;
    background: #F5F9FF;
}
.Tpage{
    font-weight: 600;
    font-size: 32px;
}

form>b{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
form>div>button{
    width: 150px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    border-radius: 30px !important;
}
.createAcount{
    @extend form;
    padding-left: 30px;
}
.createAcount>button{
    width: 200px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    border-radius: 30px !important; 
}