.wrapper_About {
  height: 100px;
  font-family: "Poppins";
}

.wrapper_About > div > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}
.wrapper_About > div > a:active {
  text-decoration: underline;
  text-decoration-color: #0156FF;
  text-decoration-thickness: 2px;
}
.wrapper_About > div > a:focus {
  text-decoration: underline;
  text-decoration-color: #0156FF;
  text-decoration-thickness: 2px;
}

.quantity {
  width: 70px;
  height: 50px;
  background-color: #EBEBEB;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
}

.aboutProduct {
  width: 100%;
  height: 500px;
  background: rgb(245, 247, 255);
  background: linear-gradient(90deg, rgb(245, 247, 255) 49%, rgb(255, 255, 255) 50%);
}

.wrapperBanner {
  width: 100%;
  height: auto;
  background-color: #000;
}

.info1 {
  box-sizing: border-box;
  height: 500px;
  width: 300px !important;
  color: white;
  font-family: "Poppins";
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
}

.info1 > b {
  font-size: 44px;
  font-weight: 500;
}

.info1 > span {
  font-weight: 300;
  font-size: 18px;
}

.banner {
  width: 80% !important;
  height: auto !important;
}

.banner > ul {
  left: -70% !important;
}

.slick-dots > li {
  background-color: grey !important;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}

.slick-active {
  background-color: white !important;
}

#wrapperSuport {
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #F5F7FF;
  box-sizing: border-box !important;
  overflow: hidden;
}

.supportCenter {
  width: 100%;
  height: 500px;
  background-image: url(/img/Support.png);
  background-repeat: no-repeat;
  background-position-x: 73%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.supportCenter > a {
  font-weight: 500;
  font-size: 16px;
  width: 350px;
  color: #000;
  text-decoration: none;
  height: 50px;
  border: 1px solid grey;
  display: flex;
  padding-left: 30px;
  padding-right: 15px;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  align-items: center;
}
.supportCenter > a::after {
  content: "->";
  color: #0156FF;
}

.featues {
  background-image: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
  color: white;
  height: 700px;
  box-sizing: border-box;
}

.title > b {
  font-size: 38px;
  font-weight: 500;
}

.listB > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.listB > div > img {
  width: 140px;
  height: 140px;
  margin-bottom: 25px;
}

.wrap_option > a {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.img_product {
  padding-left: 40px;
  width: 250px;
  height: 380px;
}

.img_prod > ul {
  background: #000;
}

.wrap_option > :nth-child(1) {
  background-image: url(/img/wrap_option/heart.svg);
}
.wrap_option > :nth-child(1):hover {
  background-image: url(/img/wrap_option/heartR.svg);
}

.Title_prod {
  font-size: 32px;
  font-weight: 500;
}

.wrap_option > :nth-child(2) {
  background-image: url(/img/wrap_option/statistic.svg);
}

.wrap_option > :nth-child(3) {
  background-image: url(/img/wrap_option/mail.svg);
}

.More_info {
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin: 0px !important;
}