.ContactForm {
  margin-bottom: 100px;
  display: grid;
}

.ContactForm > div > input {
  width: 500px !important;
  margin-top: 5px;
  margin-bottom: 20px;
}

.ContactForm > div > label {
  font-size: 13px;
  font-weight: 600;
}
.ContactForm > div > label::after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.ContactForm > div > textarea {
  width: 100%;
}

.ContactForm > button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
}

.divConUs > :first-child {
  font-size: 32px;
  font-weight: 600;
  margin-top: 15px;
}

.divConUs > :last-child {
  width: 700px;
  font-size: 16px;
  text-align: left;
  margin-top: 15px;
}

.address {
  display: grid;
  margin-top: 100px;
  height: 450px;
  background: #F5F9FF;
  padding-left: 35px;
  padding-bottom: 25px;
  box-sizing: border-box;
}

.address > div {
  display: grid;
}

.address > div > :first-child {
  font-weight: 600;
  font-size: 18px;
}

.address > div > :last-child {
  font-size: 13px;
  padding-left: 35px;
}

.address > :nth-child(1) > label::before {
  content: url(/img/wrap_option/location.png);
}

.address > :nth-child(2) > label::before {
  content: url(/img/wrap_option/call.png);
}

.address > :nth-child(3) > label::before {
  content: url(/img/wrap_option/time.png);
}

.address > :nth-child(4) > label::before {
  content: url(/img/wrap_option/email.png);
}