.black_wrapp {
  background: #000;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
  font-family: Poppins;
}

.calendar {
  background: transparent;
  color: white;
  border: none;
}

.addres > span {
  color: #ACACAC;
}

.addres > a {
  font-weight: 700;
  color: white;
}

.contact {
  width: 200px;
  box-sizing: border-box;
}

.contact > :nth-child(2) {
  width: 20px;
  height: 20px;
  background-image: url(/img/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.contact > :nth-child(3) {
  width: 20px;
  height: 20px;
  background-image: url(/img/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.meniu {
  width: 100%;
  height: 95px !important;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px dotted;
  border-color: var(--Color---6, #CCC);
}

.logo {
  background-image: url(/img/1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 50px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}

.listMeniu > ul {
  display: flex;
}

.listMeniu ul li {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  list-style: none;
  float: left;
  position: relative;
}

.listMeniu ul li ul {
  z-index: 1000;
  position: absolute;
  background: white;
  top: 37px;
  width: 300px;
  left: 0px;
  visibility: hidden;
}

.listMeniu ul li ul li {
  margin: 10px;
}

.listMeniu ul li ul li ul {
  left: 100%;
  top: 0px;
}

.listMeniu ul li:hover > ul {
  visibility: initial;
}

.listMeniu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
  font-family: Poppins !important;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.listMeniu a:hover {
  width: 180px;
  background: #EBEBEB;
}

.listMeniu > ul > li > a:hover {
  width: 120px;
  height: 37px;
  border: 1px solid;
  background: #0156FF;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.listMeniu > :nth-child(8) {
  width: 120px;
  height: 37px;
  border: 1px solid;
  color: #0156FF;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busket_case {
  width: 130px;
  height: auto;
}

.search, .user, .busket > a {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(/img/search.svg);
  background-position: right;
  box-sizing: border-box;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-left: 10px;
}

.searchOption {
  z-index: 100;
  height: 40px;
  width: 100%;
  background: #EBEBEB;
  border-radius: 30px;
}

.busket {
  display: grid;
  justify-items: end;
}

.busket > a {
  background-image: url(/img/shopping-cart.svg);
}
.busket > a::after {
  content: "N";
  font-size: 12px;
  color: white;
  background: #0156FF;
  border-radius: 10px;
  align-items: flex-start;
  margin-left: 70%;
  margin-top: 10%;
}

.wrapper_busket {
  background: white;
  width: 300px;
  position: absolute;
  height: 500px;
  border: 1px solid #CCCCCC;
  display: grid;
  text-decoration: none !important;
  justify-items: center;
  z-index: 1000;
  top: 118px;
  box-sizing: border-box;
}

.wrapper_busket img {
  width: 100px;
}

.wrapper_busket p {
  height: 80px;
  padding: 0px;
  margin: 0px;
}

.user {
  background: #0156FF;
  border-radius: 50%;
}

.userOption {
  top: 100%;
  border: 1px solid #CCCCCC;
  width: 230px;
  height: 170px;
  display: grid;
  background: white;
  position: relative;
}

.userOption > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

.hidemenu {
  position: relative;
  background: white;
  z-index: 10000;
  margin-top: 50%;
  height: 350px;
  display: grid;
}

.hidemenu > :first-child {
  width: auto;
  height: 270px;
  border: 1px solid #CCCCCC;
}

.hidemenu > :last-child {
  width: auto;
  height: 80px;
  border: 1px solid #CCCCCC;
}

.hidemenu > :first-child > div {
  border: 1px solid #CCCCCC;
  width: 25%;
}