@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
* {
  font-family: "Poppins";
}

.wrapper_opption {
  width: 100%;
  height: auto;
  background-color: #F5F7FF;
  box-sizing: border-box;
}

.wrap_logo, .support > a, .saving > a, .account > a {
  width: 50px;
  height: 50px;
  background: #0156FF;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  border-radius: 50%;
  background-position: center;
}

.support, .saving, .account {
  height: 200px;
  padding-left: 50px;
  padding-right: 50px;
}

.support > :nth-child(2), .saving > :nth-child(2), .account > :nth-child(2) {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.support > :nth-child(3), .saving > :nth-child(3), .account > :nth-child(3) {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.support > a, .saving > a, .account > a {
  background-image: url(/img/support.svg);
}

.account > a {
  background-image: url(/img/account.svg);
}

.saving > a {
  background-image: url(/img/entypo_price-tag.svg);
}